{% extends "base.html.j2" %} {% set active_page = "balance" %} {% block content %}


{% for key, value in balance.items() %}
<div class="container">

    <div class="row">
        <div class="col-md-2 fs-4 fw-bold text-info p-2">
            {{ key|replace('XXBT', 'BTC')|replace('XETH', 'ETH')|replace('ZEUR', 'EUR')}}
        </div>

        <div class="col-md-2 text-end text-nowrap p-2 overflow-hidden"><span class="text-secondary fw-light">Balance</span><br>
            {{ value['amount']|float|round(8) }}
        </div>

        {% if value['price'] %}
            <div class="col-md-2 text-end text-nowrap p-2 overflow-hidden"><span class="text-secondary fw-light">Price</span><br>
                {{ value['price']|float|round(2) }} €
            </div>
        {% endif %}

        {% if value['cost_basis'] %}
            <div class="col-md-2 text-end text-nowrap p-2 overflow-hidden"><span class="text-secondary fw-light">Cost Basis</span><br>
                    {{ value['cost_basis']|float|round(2) }} €
            </div>
        {% endif %}



        {% if value['average_price'] %}
            <div class="col-md-2 text-end text-nowrap p-2 overflow-hidden"><span class="text-secondary fw-light">Average Price</span><br>
                {{ value['average_price']|float|round(2) }} €
            </div>
        {% endif %}


        {% if value['unrealized_pnl'] and value['unrealized_pnl_pct'] %}
        <div class="col-md-2 text-end text-nowrap p-2 overflow-hidden"><span class="text-secondary fw-light">Unrealized PnL</span><br>
                {{ value['unrealized_pnl']|float|round(2) }} €
                ({{ value['unrealized_pnl_pct']|float|round(1) }} %)
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}

{% endblock %}