{% extends "base.html.j2" %}
{% set active_page = "balance" %}

{% block content %}

<ul>
    {% for key, value in balance.items() %}
    <li>{{ key|replace('XXBT', 'BTC')|replace('XETH', 'ETH')|replace('ZEUR', 'EUR') }}: {{ value|float|round(8) }}</li>
    {% endfor %}
</ul>

{% endblock %}