{% extends "base.html.j2" %}
{% set active_page = "ticker" %}

{% block content %}

<ul>
    {% for key, value in ticker.items() %}
    <li>{{ assets[key]['wsname']|replace('XBT', 'BTC') }}: {{ value['c'][0]|float|round(2) }}</li>
    {% endfor %}
</ul>

{% endblock %}