{% extends "base.html.j2" %}

{% block content %}
<h1>Ticker</h1>


<h2>{{ pair|replace(',', ', ') }}</h2>

<ul>
    {% for key, value in ticker.items() %}
    <li>{{ assets[key]['wsname']|replace('XBT', 'BTC') }}: {{ value['c'][0]|float|round(2) }}</li>
    {% endfor %}
</ul>
{% endblock %}